@import "../../App.scss";

.header {
    background: rgb(42, 87, 141);
    background: linear-gradient(180deg, rgba(42, 87, 141, 1) 0%, rgba(54, 112, 181, 1) 100%); /* Adjusted gradient colors */

    .header-cnt-top {
        border-bottom: 1px solid lighten($clr-gray, 10%); /* Using a professional shade of gray */
    }

    @media screen and (max-width: 992px) {
        .header-cnt-top {
            flex-direction: column;
            
            .header-cnt-top-l {
                margin-bottom: 8px; /* Increased margin for better spacing */
            }
        }
    }
}
